.zfs-search {
  .van-search__content {
    background: #EFEFF4;
  }
  .van-field__left-icon {
    display: flex;
    align-items: center;
  }
  .icon-search {
    font-size: 22px;
  }
  .van-search {
    padding: 8px 8px;
  }
  .van-field {
    padding: 4px 8px 4px 0;
    .van-field__control {
      color: #666666;
    }
  }
}