.zfs-search {
  .van-search__content {
    background: #EFEFF4;
  }
  .van-field__left-icon {
    display: flex;
    align-items: center;
  }
  .icon-search {
    font-size: 20px;
  }
  .van-search {
    padding: 8px 7.5px;
  }
  .van-field {
    padding: 2px 8px 2px 0;
    input {
      font-size: 12px;
    }
    .van-field__control {
      color: #666666;
    }
  }
}